body
{
  width: 800px;
  margin: auto;
  background-color: #FFF2CD;
}
header{
  padding: 5px, 0px, 10px, 10px;
}
nav
{
  width: 200px;
  margin: auto;
  background-color: #FFFBED
}
header > h1
{
  text-align: center;
}
aside
{
  float: right;
  background-color: #B7AE5F;
  width: 200px;
  height: 290px;
  padding: 20px;
}
article
{
  width: 560px;
  height: 330px;
  float: left;
  background-color: #CCBE90;
}
img
{
  height: 225px;
  margin-left: 25px;
}
.kissa
{
  height: 250px;
  width: 350px;
}
