* {
  box-sizing: border-box;
}
.header {
  /*border: 1px solid red;*/
  padding: 15px;
  margin-left: 800px;
  color: red;
  text-align: center;
  width: 600px;
}

.menu {
  width: 25%;
  float: left;
  padding: 12px;
  border: 1px solid red;
}
body {
  background-image: url('adam.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  margin-top: 50px;
}
ul{

  list-style-type: none;
}
nav{
  position: fixed;
  top: 5;
}
